.info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #57cc99;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  width: 40vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 998;
}

.infoTitle{
  font-size: 150%;
  font-style: oblique;
  font-weight: bold;
  margin-bottom: 2vh;
}

.modalButton{
  margin-top: 2vh;
  background-color: #c7f9cc;
  border: none;
  border-radius: 10px;
  width: 18vw;
  height: 5vh;
  font-size: large;
}

.danger{
  background-color: rgba(255, 2, 2, 0.912);
  transform: translateY(80%);
}

input{
  width: 25vw;
  height: 2vh;
  text-align: center;
  font-size: medium;
  font-weight: 650;
}
